body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#load {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
}


#main{
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}

div { 
    width: 100%;
    height: 100%;

    display: none;

    text-align: center;
    font-size: 14px;
    cursor: pointer;
    
}


#button {
    position:fixed ;
    top: 10px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 3px , 2px;
}
